## List Comprehension - To write multiple line code into single line code and List comprehesion can only be applied when we need the output as list

In [8]:
lst=[1,2,3,4]
for i in lst:
    print(i**2)

1
4
9
16

In [9]:
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)
    
print(lst1)

[1, 4, 9, 16]

In [10]:
[i**2 for i in lst] ##single line code

[1, 4, 9, 16]

In [14]:
## If Loop,  sum of even numbers in a collection
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=[i for i in lst if i%2==0]

lst1

[2, 4, 6, 8, 10]

In [16]:
## If Loop,  sum of odd numbers in a collection
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=[i for i in lst if i%2!=0]

In [17]:
lst1

[1, 3, 5, 7, 9]

In [19]:
## Assignment, do the sum of even numbers in a collection
lst=[4,5,9,8,12,4,2]
lst1=sum([i for i in lst if i%2==0])

In [20]:
lst1

30

In [24]:
## Assignment, do the odd of even numbers in a collection
lst=[4,5,9,8,12,4,2,7,5]
lst1=sum([i for i in lst if i%2!=0])

In [25]:
lst1

26

## TUPLES - Tuples are similar to list it can have any type of element like, string, integer, word etc, and it id Immutable and enclosed with Round Brackets

In [27]:
type((1,2,3,4))

tuple

In [28]:
## to convet list into a tuple
[1,2,3,4,]
tuple([1,2,3,4])
type(tuple([1,2,3,4]))

tuple

In [29]:
t=(1,2,3,4,5,'Azhar')
t[5]

'Azhar'

In [31]:
## Multiple Indexing
t=(1,2,3,4,5,'Azhar')
t[5][0]

(1, 2, 3)

In [33]:
t=(1,2,3,4,5,'Azhar')
t[3:]

(4, 5, 'Azhar')

In [34]:
t=(1,2,3,4,5,'Azhar')
t[:-1]

(1, 2, 3, 4, 5)

In [35]:
## Tuple is immutable
t=(1,2,3,4,5)
t[3]='Azhar'
t.

TypeError: 'tuple' object does not support item assignment

In [41]:
l = ['tom','smith','bob']
l

['tom', 'smith', 'bob']

In [42]:
##l.reverse()
[i[::-1] for i in l]

['mot', 'htims', 'bob']

In [ ]:
## Tuples are not used often as lists in programming but are used when immutability is necessary

## SETS -  are an unordered collection of unique elements which can be constructed using sets() function. and is enclosd with curley braces

In [45]:
set([1,2,3,4]) ## set can be defined by witing the inbuild function, that is set and by curley braces

{1, 2, 3, 4}

In [48]:
type({1,2,3,4})

set

In [49]:
{1,2,3,4,5,6,7}

{1, 2, 3, 4, 5, 6, 7}

In [50]:
## sets is collection of unique value even though elements gets repeated 
{1,2,3,4,5,6,7,7,1,2,3}

{1, 2, 3, 4, 5, 6, 7}

In [82]:
## sets example
x1={1,2,3,4,5,8}
x2={2,3,4,5,6,7}

In [83]:
x1.add(6)

In [84]:
x1

{1, 2, 3, 4, 5, 6, 8}

In [85]:
## Union fuction, only unique value will be printed from both the tables
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [86]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [87]:
## Intersection will happen ans same value will be store the value back into the first Variable
x1.intersection_update(x2)

In [88]:
x1

{2, 3, 4, 5, 6}

In [94]:
## Difference
y1={1,2,3,4,5,6}
y2={2,3,4,5,6,7}

In [95]:
y1.difference(y2)

{1}

In [96]:
y2.difference(y1)

{7}

In [97]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}

In [98]:
## issubset function
x1.issubset(x2)

True

In [99]:
x1={3,4,5,9}
x2={1,2,3,4,5,6,7}

In [100]:
x1.issubset(x2)

False

## Dictionaries -is combination of Key-Value pares

In [102]:
var={1:'Azhar', 2:'Python', 3:'34'}

In [104]:
var

{1: 'Azhar', 2: 'Python', 3: '34'}

In [103]:
type(var)

dict

In [106]:
####Indexing in Dictionaries
var.items()

dict_items([(1, 'Azhar'), (2, 'Python'), (3, '34')])

In [108]:
var.items()[0]

TypeError: 'dict_items' object is not subscriptable

In [109]:
## To find Key names
var.keys()

dict_keys([1, 2, 3])

In [110]:
## convert dictionary to list
list(var.keys()) [0]

1

In [111]:
## To find the value names
var.values()

dict_values(['Azhar', 'Python', '34'])

In [114]:
## Dictionary can be collection of String, List, Tuples etc
my_dict={'Key1':123, 'Key2':[12,33,44], 'key3': ['item0', 'item1', 'item3']}
my_dict['key3']

['item0', 'item1', 'item3']

In [112]:
my_dict={'Key1':123, 'Key2':[12,33,44], 'key3': ['item0', 'item1', 'item3']}

In [113]:
my_dict['key3'][2]

'item3'

In [115]:
##Upper Case
my_dict['key3'][2].upper()

'ITEM3'

In [116]:
my_dict['key3'][2].isalnum()

True

In [117]:
## To add the key and value
my_dict['Key4']=35

In [118]:
my_dict

{'Key1': 123,
 'Key2': [12, 33, 44],
 'key3': ['item0', 'item1', 'item3'],
 'Key4': 35}

## NESTING WITH DICTIONARIES

In [119]:
## Dictionary nested inside a dictionary nested inside a dictionary, 
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [124]:
d['key1']['nestkey']['subnestkey']

'value'

In [123]:
type(d['key1'])

dict

## DICTIONARY COMPREHENSION

In [125]:
{X:X**2 for X in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# FUNCTIONS